<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @play.game_id %>
</p>

<p>
  <strong>Player:</strong>
  <%= @play.player_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @play.type %>
</p>

<p>
  <strong>Yards:</strong>
  <%= @play.yards %>
</p>


<%= link_to 'Edit', edit_play_path(@play) %> |
<%= link_to 'Back', plays_path %>
