<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6 well">
      <ul>
        <li>Name: <%= @randplayer.name %></li>
        <li>Year: <%= @lastyear.year %></li>
        <% @lastyear.stats.attributes.each do |k,v| %>
          <li><%= k.titleize %>: <%= v %></li>
        <% end %>
      </ul>
    </div>
    <div class="span6 well">
      <%= @randteam %>
    </div>
  </div>
</div>
