<h1>All Players</h1>
<%= link_to "Search", search_players_path %>

<%= will_paginate @players, :renderer => BootstrapPagination::Rails %>
<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Name</th>
      <th>Years Active</th>
      <th>Current Team</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
    <tr>
      <td><%= player.position %></td>
      <td><%= link_to player.name, player %></td>
      <td><%= player.years_active %></td>
      <td><%= player.current_team_name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @players, :renderer => BootstrapPagination::Rails %>
