<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @player.position %>
</p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Years Active:</strong>
  <%= @player.years_active %>
</p>

<p>
  <strong>Current Team:</strong>
  <%= @player.current_team_name %>
</p>

<table class="table">
  <thead>
    <tr>
      <th>Year/Week</th>
      <% (PlayerStats.column_names-["id", "created_at", "updated_at"]).each do |c| %>
        <th><%= c.titleize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @player.players_years.each do |pyear| %>
      <tr class="year" data-year="<%=pyear.year%>">
        <td><%= link_to pyear.year, "#", class: "year-toggle", data: {year: pyear.year} %></td>
        <% pyear.player_stats.attributes.each do |k,v| %>
          <% unless ["id", "created_at", "updated_at"].include? k %>
            <td><%=v%></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(".year-toggle").on("click", function(e){
    e.preventDefault();
    year = $(this).attr('data-year');
    alert('.game[data-year='+year+']')
    if($('.game[data-year='+year+']').length) {
      $('.game[data-year='+year+']').toggle();
    } else {
      $.get("<%= games_player_path(@player) %>", {year: year}, function(data) {
        $(this).append(data);
      });
    }
  });
</script>

<%= link_to 'All Players', players_path %> |
<%= link_to 'Search', search_players_path %>
