<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %> </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "autocomplete-rails.js" %>
  <%= csrf_meta_tags %>
  <style>
    html, body { height: 100% }
    #content {
      padding-bottom: 50px;
      min-height: 75%;
    }
    .footer { padding: 10px 30px; }
    .game {
      background-color: #DDDDDD;
    }
  </style>
</head>
<body>
  <header class='navbar'>
  <div class='navbar-inner my-header'>
    <div class='container-fluid'>
      <%= link_to "StatAp", root_path, class: "brand" %>
      <nav>
      <ul class='nav'>
        <li>
        <%= link_to "Players", players_path %>
        </li>
        <li>
        <%= link_to "Teams", teams_path %>
        </li>
      </ul>
      <ul class='nav pull-right'>
      </ul>
      </nav>
    </div>
  </div>
  </header>

<div id="content" class="container">
  <%= yield %>
</div>

<footer class='footer'>
<small>By Bharat Gupta, Aaron Neyer, Diego Waxemberg, Robert Meyer</small>
<ul class="nav pull-right">
  <li><%= link_to "About", "#" %></li>
</ul>
</footer>

</body>
</html>
